<section class="favorite-section" id="servicesRef">
  <div class="container">
    <div class="row">
        <div class="cart-icon" (click)="openCart()"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#000000"
              d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
          </svg> {{cart.length}}
        </div>
      <h3 class="page-title">FAVOURITE</h3>
      <p class="sub-title">Enjoy what you have been ordering!</p>
      
      <div class="row">
        <div class="fav-items-container">
          <div class="fav-item" *ngFor="let item of favorites">
            <div class="item-image"><img src="{{item.image}}" alt=""></div>
            <div style="display:inline-block">
              <p class="item-title">{{item.name}}</p>
              <p class="item-price">₹ {{item.price}}</p>
            </div>
            <button class="order-item" (click)="addToCart(item);">REORDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />